@charset="utf-8";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

.principal {
    width: 80%;
    margin-top: 10%;
    margin-left: 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.informa {
    margin-right: 5%;
}

.informa h1 {
    color: rgb(36, 104, 231);
    font-size: 38px;
}

.informa h2 {
    color: black;
    font-size: 25px;
    font-weight: normal;
    line-height: 32px;
    width: 500px;
}

.criar {
    text-align: center;
    background-color: white;
    width: 300px;
    height: 330px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.377);
    border-radius: 2%;
}

.criar .email {
    width: 250px;
    height: 45px;
    padding: 5px;
    font-size: 17px;
    border-radius: 7px;
    border: solid 1px #dddfe2;
    margin-top: 35px;
}

.criar .senha {
    width: 250px;
    height: 45px;
    padding: 5px;
    font-size: 17px;
    border-radius: 7px;
    border: solid 1px #dddfe2;
    margin-top: 17px;
}

.criar .entrar {
    width: 250px;
    height: 45px;
    font-size: 17px;
    border-radius: 7px;
    margin-top: 17px;
    background-color: #1877f2;
    border: none;
    color: white;
    transition: 1s;
}

.criar .entrar:hover {
    background-color: #BFBEC2;
    color: black;
}

.criarconta {
    padding: 10px 20px;
    width: 250px;
    height: 45px;
    font-size: 15px;
    border-radius: 5px;
    background-color: rgb(8, 197, 8);
    border: none;
    color: white;
    transition: 1s;
}

.criarconta:hover {
    background-color: #BFBEC2;
    color: black;
}

.criar p {
    margin-top: 15px;
    margin-bottom: 10px;
    color: #1877f2;
    border-bottom: solid 1px #dddfe2;
}

.novaconta {
    color: black;
    margin-top: 50px;
    margin-left: 50%;
    font-size: 14px;
}